*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #111, #333);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: aliceblue;
}

.tts {
    display: flex;
    padding: 1rem;
    gap: 1.5rem;
    align-items: center;
}

#ip_text {
    border: 3px solid aquamarine;
    border-radius: 7px ;
    height: 2.3rem;
    width: 11rem;
    padding: 0.4rem;    
    color: black;
    font-weight: 600;
}

.btns{
    padding: 0.5rem;
    border: 2px solid aquamarine;
    border-radius: 9px;
    background-color: aqua;
    font-size: 0.9rem;
}

.btns:hover{
    cursor: pointer;
}

#audioPlayer {
    margin-top: 0.7rem;
    width: 250px;
    border: 3px solid aquamarine;
    border-radius: 30px;
    display: none;
}

#echoPlayer {
    margin-top: 1.2rem;
    width: 275px;
    border: 3px solid aquamarine;
    border-radius: 30px;
    /* display: none; */
}

.echoHead {
    color: aliceblue;
}

#stop-btn {
    cursor: not-allowed;
}

.echoBot {
    display: flex;
    gap: 1.5rem;
    margin: 1rem;
}

#reset-btn {
    cursor: not-allowed;
}

#record-indicator {
    display: none;
    color: red;
    font-weight: bold;
    margin-top: 1rem;
}

.section-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid aquamarine;
    border-radius: 12px;
    padding: 1.5rem;
    margin: 1.5rem;
    background-color: #292828;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
    width: 420px;
}

#status{
    margin-top: 1rem;
    font-weight: bold;
    color: green;
    display: none;
}

#transcript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#transHead {
    color: aliceblue;
    margin: 1rem;
    display: none;
}

#transcription {
    color: azure;
}